.credits-page {

    // background-color: #f86848;
    margin-top: 80px;
    width: 100vw;
    

    /* clear fix */
    .grid-credits:after {
        content: '';
        display: block;
        clear: both;
    }


    .grid-credits-sizer {

        width: 100%;

    }

    
    .grid-credits {
    
        width: 100%;

    }
  
  .grid-credits-item {
  
      position: relative;
      width: 100%;
      overflow: hidden;
      cursor: pointer;

      float: left;
      
      &.f34 {
          height: 560px;
          img {
            height: 560px;  
          }
      }

      &.f43 {
        height: 360px;  
        img {
            height: 360px;  
        }
      }
    
      img {

          display: block;
          object-fit: cover;
          width: 100%;
  
          z-index: 2;
          transition: transform 3s ease;
      }

      .grid-item-caption {
          display: flex;
          justify-content: left;
          flex-direction: column;
          position: absolute;
          bottom: 0;
          z-index: 25;
          width : 100%;
          background-color: $credits-info-background-color;
          color:$credits-info-text-color;
          padding: 10px 10px;
      }

      
      .grid-item-info {
          // bottom: -$credits-info-height;
          bottom: 0px;
          transition: bottom 200ms ease-in-out;
  
          &.info-time {
              font-weight: 700;
              text-transform: uppercase;
          }
  
          &.info-text {
              color: #fff;
          }       
      
      }
  }
 
  
  
  
  @media (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
      .grid-credits-sizer {
          width: 50%
      }
      
      .grid-credits-item {
          width: 50%;
      }
  }
  
  @media (min-width: $breakpoint_md) and (max-width: $breakpoint_lg) {
      .grid-credits-sizer {
          width: 33.3%
      }
      
      .grid-credits-item {
          width: 33.3%;
      }
  }
  
  @media (min-width: $breakpoint_lg) {
      .grid-credits-sizer {
          width: 20%
      }
      
      .grid-credits-item {
          width: 20%;
      }
  }
}