.credits-page {
  background-color: #f86848;


    /* ELEV GRID */


    .grid {
        width: 100%;
;
      }
      
      /* clearfix */
      .grid:after {
        content: '';
        display: block;
        clear: both;
      }
      
      /* ---- grid-item ---- */
      
       .grid-sizer, .grid-item {
        width: 20%;
      } 
      
      .grid-item {
        height: 100px;
        float: left;
        border-color: hsla(0, 0%, 0%, 0.5);
        transition: 0.5s;
      }
    
      .grid-item img{
          width: 100%;
      }
    
      .txt-card-bottom{
        background-color: #f86848;
          color: white;
          position: relative;
          z-index: 100;
          bottom: 15px;
          height: 40px;
          font-size: 0.6rem;
          font-weight: 300;
          padding: 0.5rem;
          text-transform: uppercase;
      }
    
      .name-txt{
          font-weight: 700;
      }
    
      .elev-txt{
          font-weight: 300;
      }
      /* ELEV GRID END */
    
    /* ELEV GRID SMALL FIXES */


    .item-19{
      padding-bottom: 6px;
    }

    .item-36{
      padding-bottom: 6px;
    }
    
    .item-48{
      padding-bottom: 6px;
    }

    
    
    
    /* ELEV GRID SMALL FIXES END */
    
    
    /* GRID HØJDER */
      .grid-item--height2 {
           height: 260px;
    
    }
    
      .grid-item--height4 {
           height: 420px; 
    }
    
    .mentor{
      display: none;
    }

    /* GRID HØJDER END */
    
    
    /* GRID LÆRER */
    
    .grid1 {
  
        width: 100%;
      }
      
      /* clearfix */
      .grid1:after {
        content: '';
        display: block;
        clear: both;
      }
      
      .grid-sizer,
      .grid-item1 {
        width: 20%;
      }
    
    
    .grid-item1 {
        height: 100px;
        float: left;
        border-color: hsla(0, 0%, 0%, 0.5);
      }
    
      .grid-item1 img{
          width: 100%;
      }
    
      .grid-item1--height2 {
        height: 300px;
    }
    
    .grid-item1--height4 {
        height: 450px; 
    }

  /* GRID LÆRER END */

    /* Grid Heights stor skærm  */
    @media only screen and (min-width: 1600px){

      .grid-item--height2 {
        height: 333px;
        padding: 0;
    
    }
    
    .grid-item--height4 {
        height: 555px; 
    }
    


    /* Lærer grid stor skærm */

    .grid-item1--height2 {
      height: 340px;
  }
  
  .grid-item1--height4 {
      height: 550px; 
  }


    }
    
    
    @media only screen and (max-width: 800px) {
        .grid-sizer,
        .grid-item {
          width: 50%;
        } 
    
        .grid-item{
          padding: 0;
        }
        .grid-item1{
          padding: 0;
        }
    
        .grid-sizer,
        .grid-item1 {
          width: 50%;
        } 
    
        *{
          padding-top: 0;
        }

        .grid-item--height2 {
          height: 335px;
          padding: 0;
      
      }
      
      .grid-item--height4 {
          height: 535px; 
      }

      .item-4{
        padding-bottom: 2%;
      }

      .item-6{
        padding-top: 2%;
      }

      .item-7{
        padding-top: 2%;
      }

      .item-9{
        padding-top: 1%;
      }

      .item-31{
        padding-top: 2%;
      }

      .item-40{
        padding-top: 1.3%;
      }

      .item-41{
        padding-top: 0.65%;
      }

      .item-44{
        padding-top: 2.7%;
      }

      .item-45{
        padding-top: 0.7%;
      }

      .item-48{
        padding-top: 2.7%;
      }

      .item-50{
        padding-top: 0.65%;
      }

      .item-76{
        padding-top: 0.8%;
      }

      .item-80{
        padding-top: .5%;
      }
      
  
      /* Lærer grid Ipad */
  
      .grid-item1--height2 {
        height: 340px;
    }
    
    .grid-item1--height4 {
        height: 550px; 
    }
        
    
    
    
      }
      @media only screen and (max-width: 500px) {
      
        .grid-sizer,
        .grid-item {
          width: 100%;
        } 
        .grid-sizer,
        .grid-item1 {
          width: 100%;
        } 
    
        .grid-item--height2 {
          height: 350px;
    
        }
    
        .grid-item--height4 {
              height: 550px; 
        }
      
      }
}