

.footer {

    width: 100%;
    min-height: 50vh;
    background: #ebebeb;

    .footer-div{
        display: flex;
        flex-direction: row;
        padding-top: 30px;
    }
    
    .column {
        width: 37.5vw;
        padding: 10px;
        box-sizing: border-box;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    img {
      width: 300px;
      margin-bottom: 10px;
    }
    
    .col1{
    //   padding-top: 100px;
      margin-left: 12.5vw;
    }
    
    .response-margin{
        padding-left: 2%;
        padding-top: 5%;
    }
    
    .byline {
      font-size: 1.05rem;
      line-height: 1.4;
      font-weight: 700;
    }
    
    .body-text {
      font-size: 1.05rem;
      line-height: 1.4;
      font-weight: 300;
    }
    
    .link {
      color: #6667A8;
      text-decoration: none;
    
    }
    
    .link-container{
        padding-top: 5%;
    }
    
    .test{
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .copy {
      font-weight: 300;
      font-size: 0.8rem;
    }
    
    .aboutHead{
        font-weight: 700;
        font-size: 1.6rem;
    }
    
    
    .right-column{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Rubik', sans-serif;
    }
    
    .someBar{
        display: flex;
        flex-direction: row;
        padding-top: 3%;
    
    }
    
    .someIcon{
        width: 5%;
        padding-right: 1%;
    
    }
    .aboutTXT{
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 300;
        width: 70%;
    }
    .participents{
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .readMore{
        padding-top: 3%;
    }
    
    a {
        color: #6667A8;
        text-decoration: none;
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 300;
    }
    
    .power-txt{
        width: 100%;
        padding-left: 3%;
    }
    
    .copy-responsesiv{
        display: none;
    }
    
    .br1{
        display: none;
    }
    
    @media screen and (max-width: 768px) {
        .footer-div {
          display: flex;
          flex-direction: column-reverse;
          margin: 0;
          padding-top: 30px;
          overflow: hidden;
          width: 100%;
          margin-top: 15rem;
        }
    
        .footer-div{
            display: flex;
            flex-direction: column-reverse;
        }
    
        .response-margin{
            padding-left: 11.2vw;
            padding-right: 9.5vw;
        }
    
        .right-column{
            padding-left: 12.5vw;
            padding-right: 12.5vw;
        }
    
        .someIcon{
            width: 10%;
            margin: 0;   }
    
        .someBar{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    
        .right-column{
            width: 100%;
    
        }
        img {
          width: 70%;
          margin-bottom: 5%;
          margin-left: 9vw;
        }
      
        .col1{
            width: 100%;
            margin-left: 0;
            // padding-top: 40px;
        }
        .aboutTXT{
            width: 100%;
        }
        .column{
            width: 100%;
            margin-left: 0;
        }
    
        .aboutHead{
            padding-bottom: 5%;
        }
    
     
        .link-container{
            padding-top: 2%;
            padding-bottom: 5%;
        }
    
        .test{
            display: none;
        }
    
        .copy-responsesiv{
            display: block;
            font-size: 0.7rem;
            padding-top: 2rem;
            width: 100%;
        }
    
    
    
        .br1{
            display: inline-block;
        }
    
        .readMore{
            padding-top: 10%;
        }

      }
    
    //   @media screen and (max-width: 1000px) {
    //     .right-column{
    //         padding-top: 7%;
    
    //       }
    //   }
    //   @media screen and (min-width: 1000px) {
    //     .right-column{
    //         padding-top: 8.8%;
    
    //       }
    //   }

}
