.nav {

    position: fixed;
    background-color: $nav-background-color;
    height: $nav-height;
    color: $nav-text-color;
    width: 100%;
    z-index: 210;
    top: 0;
    transition: top 500ms ease-in-out;

    .nav-burger-dark {
        display: none;
    }

    .nav-burger-dark {
        display: none;
    }

    &.light {
        background-color: beige;
        color: #000;

        .nav-heading {
            h1{
                color: #000;
            }
            
        }
        .nav-burger-light {
            display: none;
        }

        .nav-burger-dark {
            display: block;
        }
    }

    &.hide {
        top: -$nav-height;
    }

    &.active {
        .nav-content {
            display: block;
        }
    }

    .nav-wrapper {

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $content-width;
        margin: auto auto;
        height: $nav-height;

    }

    .nav-bar {

        display: flex;
        align-items: center;
        cursor: pointer;

    }

    .nav-burger {

        margin-right: 10px;
        margin-top: 5px;

    }

    .nav-heading {
        h1 {
            font-size: 16px;
            font-weight: 100;
            color: $nav-text-color;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

    }

    .nav-share-pop {
        
        display: none;
        position: absolute;
        background-color: #fff;
        color: #000;
        right: -10px;
        padding: 10px;

        .social-action {

            &:hover {
               transform: scale(1.2);
            }
        }
    }

    .nav-content {

        display: none;
        position: absolute;
        background-color: #fff;
        color: #000;
        min-width: 280px;
        top: 15px;
        right:15px;
        padding: 10px;
        
        .nav-content-close {
            text-align: right;
            cursor: pointer;

            object {
                pointer-events: none;
            }
        }
   

        .nav-links {

            :first-child {
                margin-bottom: 20px;  
            }

            a {
                display: block;
                text-decoration: none;
                color: #000;
                // font-weight: 600;
                margin: 3px 0;
            }
        }
    }

    .nav-icon {

        width: 26px;
        margin-left : 5px;
        margin-top: 5px;
        transition: transform 200ms ease-in-out;
        position: relative;
        
        &.share {

            margin-right : 15px;
            
        }

        &:hover {
            &.share {
                .nav-share-pop {
                    display: block;
                }
                
            }
           
        }
    }
}

