
.prepage {
    background-image: linear-gradient(
        black,
        black,
        black,
        black,
        #ebebeb,  
        #ebebeb,
        #ebebeb,
        black,
        black,
        black,
        );
        width: 100%;    
}

.prepage-content {

    overflow: hidden;
    margin: auto;
  
    max-width: $content-width;

    .h1{
      
        margin: auto;
        color: #fff;
        line-height: 1.2;
        padding: 6rem 0 2rem 0;
       
        &.dark {
            color : #000;
        }
        
    }

    .h1-fat{

        font-weight: 300;

    }
}



// Maso
.grid-prepage-sizer {
  width: 100%;
}

.gutter-prepage-sizer { 
    width: 8px; 
}

.grid-prepage {

    margin-bottom: 90px;
}

.grid-prepage-item {

    position: relative;
    float: left;
    height: 190px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 8px;

    img {

        display: block;
        object-fit: cover;
        height: 190px;
        width: 100%;
        z-index: 2;
        transition: transform 3s ease;

    }

    .grid-item-caption {
        display: flex;
        justify-content: left;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        z-index: 25;
        width : 100%;
        background-color: $prepage-info-background-color;
        color:$prepage-info-text-color;
        padding: 6px 14px;
      
    }

    bottom: 0;
    .grid-item-info {

        
        // bottom: -$prepage-info-height;
        bottom: 0px;
        transition: bottom 200ms ease-in-out;

        &.info-time {
            font-weight: 700;
        }

        &.info-text {
            color: #fff;
        }       
    
    }

    &:hover {
         
        .grid-item-info {

            bottom : 0;
     
        }
        img {

            transform: scale(1.5);

        }
    
    }


    &.height2 {

        height: 260px;
        // background-color: aqua;

        img {
            height: 260px;
        }

    }

    &.height3 {

        // background-color: rgb(35, 126, 126);
        height: 310px;
        img {
            height: 310px;
        }
    }

}

@media (min-width: $breakpoint_sm) and (max-width: $breakpoint_md) {
    .grid-prepage-sizer {
        width: 48%
    }
    
    .grid-prepage-item {
        width: 48%;
    }
}

@media (min-width: $breakpoint_md) and (max-width: $breakpoint_lg) {
    .grid-prepage-sizer {
        width: 32%
    }
    
    .grid-prepage-item {
        width: 32%;
    }
}

@media (min-width: $breakpoint_lg) {
    .grid-prepage-sizer {
        width: 19%
    }
    
    .grid-prepage-item {
        width: 19%;
    }
}

// @media only screen and (max-device-width: $breakpoint_md) {
//     .grid-sizer {
//         width: 32%;
//     }
    
//     .grid-item {
//         width: 32%;
//     }

// }

// @media only screen and (max-device-width: $breakpoint_lg) {
    
//     .grid-sizer {
//         width: 19%;
//     }
    
//     .grid-item {
//         width: 19%;
//     }

// }