
$content-width : 75vw;


// Colors //
$color-24hours-yellow: #d9b03f;
$color-24hours-green: #3fd9c2;
$color-24hours-black: #000;
$color-24hours-white: #fff;
$color-24hours-silver: #ebebeb;
$color-24hours-orange: #f86848;
$color-24hours-red: #a4130e;

$color-24hours-purple: #6667a8;

//@at-root
$font-family : "Rubik", sans-serif;

// Prepage Variables
$prepage-info-background-color : rgba($color: $color-24hours-black, $alpha: .3);
$prepage-info-text-color : #fff;
$prepage-info-text-color : #fff;
$prepage-info-height : 40px;

$credits-info-background-color : rgba($color: $color-24hours-orange, $alpha: .8);
$credits-info-text-color : #fff;
$credits-info-text-color : #fff;
$credits-info-height : 40px;

// Breakpoints
$breakpoint_sm : 380px;
$breakpoint_md : 768px;
$breakpoint_lg : 1024px;

// Navigation
$nav-height : 80px;
$nav-background-color : $color-24hours-black;
$nav-text-color : #fff;

$base-font-size : 16px;

// Headings
$h1-font-size : 2.4rem;
$h1-font-weight : 700;

$p-font-size : 1.2rem;
$p-font-weight : 300;

// Footer
$footer-link-color : $color-24hours-purple;