@import "_variables";
@import "_base";
@import "_footer";
@import "_header";
@import "_navigation";
@import "_templates";
@import "_prepage";
@import "_history";
// @import "_credits";
@import "_credits2";
@import "_about";
@import "_generic_page";
@import "_front";
@import "_momenttemplates";

.temp-content {
  
    color: #fff;
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.sub-page {
    padding: 80px 0 0 0;
}

.someIcon {

    margin-top : 2vh;    



}